function use_flox() {
    direnv_load flox activate "$@" -- "$direnv" dump

    if [[ $# == 0 ]]; then
        watch_dir ".flox/env/"
        watch_file ".flox/env.json"
        watch_file ".flox/env.lock"
    fi
}

use flox
