name: Test

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Install flox
        uses: flox/install-flox-action@819183ecd53757be53d66f492eeb7d689687a66b # 2.1.0

      - name: Install dependencies
        run: flox activate -- pnpm install --frozen-lockfile

      - name: Run tests
        run: flox activate -- pnpm test
